body {
  background-color: #f4f4f4;
  font-family: 'Segoe UI', sans-serif;
}

.container {
  max-width: 500px;
  margin: 40px auto;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #002b5b;
}

.card {
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 43, 91, 0.2);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

input,
select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  width: 100%;
  background-color: white;
  color: black;
}

button {
  padding: 10px;
  background-color: #ffc107;
  color: #002b5b;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #e0a800;
}

.info-pago p {
  margin: 5px 0;
}

/* Botón especial para acceso al admin */
.admin-btn-container {
  text-align: center;
  margin-top: 20px;
}

.admin-btn {
  background-color: #007bff;
  color: white;
  font-weight: bold;
  border: none;
  padding: 12px 24px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.admin-btn:hover {
  background-color: #0056b3;
}





