<!-- Si presiona el botón Agregar al carrito, muestra la interfaz agregar-carrito.component.html -->
<!-- Si presiona el botón Eliminar carrito, muestra la interfaz eliminar-carrito.component.html -->
<!-- Si presiona el botón Consultar carrito, muestra la interfaz consultar-carrito.component.html-->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="carrito.component.css">
</head>
<body>
  <h1>Carrito de compras</h1>

<button>
  Agregar al carrito
</button>

<button >
  Eliminar del carrito
</button>

<button>
  Consultar carrito
</button>
</body>
</html>
