<header class="main-header">
  <div class="left-section">
    <a routerLink="/" id="logo">wiriwiriwiri</a>
  </div>

  <div class="search-section">
    <input type="text" id="barra-buscadora" class="search-bar" placeholder="Buscar productos" />
  </div>

  <div class="right-section">
    <a routerLink="/perfil">Perfil</a>
    <a routerLink="/carrito" id="cart-icon">
      Carrito
      <span class="cart-badge" *ngIf="carritoService.getCantidadItems() > 0">
        {{carritoService.getCantidadItems()}}
      </span>
    </a>
    <a href="#" (click)="cerrarSesion()">Cerrar sesión</a>
  </div>
</header>