<div class="catalogo-productos">
    <div class="producto">
      <img src="imagenes/producto2.jpg" class="imagen-producto">
      <h3 class="nombre-producto">reloj</h3>
      <div class="descripcion-producto">descripcion</div>
      <div class="tipo-producto">reloj</div>    
      <div class="precio-container">
        <span class="precio-actual">23,49 €</span>
      </div>
      <button class="btn-agregar-carrito">Añadir al carrito</button>
    </div>  
    <!-- Más productos según sea necesario -->
  </div>