<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Agregar productos al carrito</title>
  <link rel="stylesheet" href="agregar-carrito.component.css">
</head>
<body>

  <h2>Seleccione los productos que desea agregar al carrito</h2>

  <!-- Catálogo de productos -->
  <!-- Va la componente del catálogo (sea cual sea, no tengo idea) --> 
  <app-catalogo-productos></app-catalogo-productos>

  <!-- Botón Consultar Carrito -->
  <button>
    Consultar carrito
  </button>

</body>
</html>
